.container {
  width: 100%;
  height: 19px;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.first {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.first > p {
  color: var(--blue);
  font-weight: bold;
}

.last {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.last > p {
  color: var(--purple);
  font-weight: bold;
}

.showNumber {
  padding: 0px 8px;
  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 999px;
  display: flex;
  align-items: center;
}
